<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <!-- The application ID from your app registration -->
    <add key="appId" value="bcbb8889-3019-4c7b-b96d-42d7b9708da1" />
    <!-- If you registered your app to support only users in your organization, change the value
             of this key to your tenant ID -->
    <add key="tenantId" value="bf9c8c52-11ab-4dfa-a525-228753723630"/>
    <!-- The application's client secret from your app registration. Needed for application permission access -->
    <add key="clientSecret" value="-0a_55WF~1zcw7~tL-NAuO5ARK2_9wWAn."/>
  </appSettings>
</configuration>